
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.env
vendor/
storage/
rah_GNkpJl.zip rah_dIhpAF.zip
.idea/
