{% extends 'base.html.twig' %}

{% block title %}{{ project.name }} - RAH Project{% endblock %}

{% block body %}
  <header>
    <a href="{{ dashboardUrl }}" class="button--back">🔙 <img src="/.rah/favicon.svg" alt="Logo" class="button--back-icon"></a>
    <h1 class="header__title"><img src="/.rah/favicon.svg" alt="Logo" style="height: 1em;"><br> {{ project.name }}</h1>
  </header>

  <ul class="list">
    <li class="list__item">
        {% include 'partials/project-card.html.twig' %}
    </li>
  </ul>
{% endblock %}
