{% extends 'base.html.twig' %}

{% block title %}RAH Projects {% endblock %}

{% block body %}
  <header>
    <h1 class="header__title">
      <a href="{{ dashboardUrl }}" class="header__title">
        <img src="/.rah/favicon.svg" alt="Logo" style="height: 1em;"><br>
        Projects
      </a>
    </h1>
  </header>

  <ul class="list">
    {% for project in projects %}
      <li class="list__item">
        <a href="{{ project.url }}" class="link">{{ project.name }}</a>
        {% include 'partials/project-card.html.twig' %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
